include bin/nfoview
include data/*.glade
include data/*.in
include data/*.xml
include doc/nfoview.1
include doc/RELEASING
recursive-include nfoview *.py
include po/*.po
include po/ChangeLog
include po/nfoview.pot
include po/POTFILES.*
include po/README
include AUTHORS
include ChangeLog
include COPYING
include INSTALL
include MANIFEST.in
include NEWS
include README
include setup.py
include TODO
