include bin/*
recursive-include data *
include doc/*
recursive-include doc/sphinx *.py
recursive-include doc/sphinx/_templates *
recursive-include doc/sphinx/_themes *
include doc/sphinx/Makefile
recursive-include nfoview *.py
include tools/*
include po/*
include AUTHORS
include ChangeLog
include COPYING
include CREDITS
include INSTALL
include MANIFEST.in
include NEWS
include README
include setup.py
include TODO
