include bin/*
include data/*
include doc/*
recursive-include nfoview *.py
include tools/*
include po/*
include AUTHORS
include ChangeLog
include COPYING
include CREDITS
include INSTALL
include MANIFEST.in
include NEWS
include README
include setup.py
include TODO
