.hll { background-color: #FFFFCC; }
.err { background-color: #FFCCCC; } /* Error */

.c   { color: #84A3C2; } /* Comment */
.cm  { color: #84A3C2; } /* Comment.Multiline */
.cp  { color: #9F6FFF; } /* Comment.Preproc */
.c1  { color: #84A3C2; } /* Comment.Single */
.cs  { color: #84A3C2; } /* Comment.Special */
.gd  { color: #333333; } /* Generic.Deleted */
.gr  { color: #FF405A; } /* Generic.Error */
.gh  { color: #333333; } /* Generic.Heading */
.gi  { color: #333333; } /* Generic.Inserted */
.go  { color: #333333; } /* Generic.Output */
.gp  { color: #FF405A; } /* Generic.Prompt */
.gt  { color: #FF405A; } /* Generic.Traceback */
.gu  { color: #333333; } /* Generic.Subheading */
.k   { color: #9F6FFF; } /* Keyword */
.kc  { color: #00BA88; } /* Keyword.Constant */
.kd  { color: #9F6FFF; } /* Keyword.Declaration */
.kn  { color: #9F6FFF; } /* Keyword.Namespace */
.kp  { color: #9F6FFF; } /* Keyword.Pseudo */
.kr  { color: #9F6FFF; } /* Keyword.Reserved */
.kt  { color: #00BB29; } /* Keyword.Type */
.m   { color: #BA7FBA; } /* Literal.Number */
.mf  { color: #BA7FBA; } /* Literal.Number.Float */
.mh  { color: #BA7FBA; } /* Literal.Number.Hex */
.mi  { color: #BA7FBA; } /* Literal.Number.Integer */
.il  { color: #BA7FBA; } /* Literal.Number.Integer.Long */
.mo  { color: #BA7FBA; } /* Literal.Number.Oct */
.na  { color: #B0A678; } /* Name.Attribute */
.nb  { color: #FF6F87; } /* Name.Builtin */
.bp  { color: #B0A678; } /* Name.Builtin.Pseudo */
.nc  { color: #1d77ff; } /* Name.Class */
.no  { color: #00BA88; } /* Name.Constant */
.nd  { color: #00BB29; } /* Name.Decorator */
.ni  { color: #333333; } /* Name.Entity */
.ne  { color: #00BB29; } /* Name.Exception */
.nf  { color: #1d77ff; } /* Name.Function */
.nl  { color: #333333; } /* Name.Label */
.nn  { color: #333333; } /* Name.Namespace */
.nt  { color: #333333; } /* Name.Tag */
.nv  { color: #B0A678; } /* Name.Variable */
.vc  { color: #B0A678; } /* Name.Variable.Class */
.vg  { color: #B0A678; } /* Name.Variable.Global */
.vi  { color: #B0A678; } /* Name.Variable.Instance */
.o   { color: #333333; } /* Operator */
.ow  { color: #9F6FFF; } /* Operator.Word */
.s   { color: #BA7FBA; } /* Literal.String */
.sb  { color: #BA7FBA; } /* Literal.String.Backtick */
.sc  { color: #BA7FBA; } /* Literal.String.Char */
.sd  { color: #BA7FBA; } /* Literal.String.Doc */
.s2  { color: #BA7FBA; } /* Literal.String.Double */
.se  { color: #BA7FBA; } /* Literal.String.Escape */
.sh  { color: #BA7FBA; } /* Literal.String.Heredoc */
.si  { color: #BA7FBA; } /* Literal.String.Interpol */
.sx  { color: #BA7FBA; } /* Literal.String.Other */
.sr  { color: #BA7FBA; } /* Literal.String.Regex */
.s1  { color: #BA7FBA; } /* Literal.String.Single */
.ss  { color: #BA7FBA; } /* Literal.String.Symbol */
.w   { color: #333333; } /* Text.Whitespace */

.ge  { font-style: italic; } /* Generic.Emph */
.gs  { font-weight: bold; } /* Generic.Strong */
.nc  { text-decoration: underline; } /* Name.Class */
.nf  { text-decoration: underline; } /* Name.Function */
